// NAVBAR
.website-logo-icon{
    max-width: 60px;
    max-height: auto;
}
.navbar {
    color: white;
}
// HOME
.home-ltext {
    margin-top: auto;
    margin-bottom: auto;
}
.home-lsocial {
    margin-left: 3%;
    font-size: 30pt;
}
.home-h1 {
    font-size: 65px;
    margin-left: 3%;
    margin-bottom: 2%;
}
.home-h2 {
    font-size: 25px;
    margin-left: 3%;
    color: grey;
}

.home-rcontainer {
    max-height: 8%;
    margin-top: 2%;
}