// NAVBAR
.navbar{
    margin-top: 10px;
}

.navbar-nav {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 15pt;
}
.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.website-logo-icon{
    max-width: 100px;
    max-height: auto;
    padding-top: 10px;
    margin-left: 3%;
}
.navbar {
    color: white;
}
// HOME
.home-ltext {
    margin-top: auto;
    margin-bottom: auto;
}
.home-lsocial {
    margin-left: 3%;
    font-size: 30pt;
}
#github {
    padding-right: 2%;
    color: #24292E;
}
#linkedin {
    padding-right: 2%;
    color: #0077B5;
}
#facebook {
    padding-right: 2%;
    color: #4267B2;
}
.home-h1 {
    font-size: 55px;
    margin-left: 3%;
    margin-bottom: 2%;
}
.home-h2 {
    font-size: 25px;
    margin-left: 3%;
    color: grey;
}

.home-rcontainer {
    max-height: 8%;
    margin-top: 2%;
}
.resume {
    position: relative;
    max-width: 100%;
}
#resume-button {
    margin-top: 1%;
}
#contact-me-button {
    margin-top: 1%;
    margin-left: 2%;
}
#modal-button {
    max-height: 39px;
}
// SKILLS
.skills-img {
    margin-top: 2%;
}
.skills-h1 {
    font-size: 35px;
    margin-left: 3%;
    margin-bottom: 2%;
}
.skills-h2 {
    font-size: 22px;
    margin-left: 3%;
    color: grey;
}
.skills-h2-bottom1 {
    font-size: 22px;
    margin-left: 3%;
    color: grey;
}
.skills-h2-bottom2 {
    font-size: 22px;
    margin-left: 3%;
    color: grey;
}
.skills-h2-bottom3 {
    font-size: 22px;
    margin-left: 3%;
    color: grey;
}
.skills-rtext {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}
.skills-languages-top{
    max-height: 100px;
}
.html5 {
    max-height:75px;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.5;
    filter: saturate(0);
}
.html5:hover {
    opacity: 1.0;
    filter: saturate(1);
}
.css3 {
    max-height:75px;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.5;
    filter: saturate(0);
}
.css3:hover {
    opacity: 1.0;
    filter: saturate(1);
}
.js {
    max-height:75px;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.5;
    filter: saturate(0);

}
.js:hover {
    opacity: 1.0;
    filter: saturate(1);

}
.bootstrap {
    max-height:100px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.5;
        filter: saturate(0);

}
.bootstrap:hover {
    opacity: 1.0;
        filter: saturate(1);
    
}
.react {
    max-height:100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    opacity: 0.5;
            filter: saturate(0);

}
.react:hover {
    opacity: 1.0;
            filter: saturate(1);

}
.restapi {
    max-height:100px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 20px;
    opacity: 0.5;
                filter: saturate(0);

}
.restapi:hover {
    opacity: 1.0;
                filter: saturate(1);

}
.postman {
    max-height:100px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 20px;
    opacity: 0.5;
                    filter: saturate(0);

}
.postman:hover {
    opacity: 1.0;
                    filter: saturate(1);

}
.github {
    max-height:75px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 27px;
    opacity: 0.5;
                        filter: saturate(0);

}
.github:hover {
    opacity: 1.0;
                        filter: saturate(1);

}
.python {
    max-height:95px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 27px;
    opacity: 0.5;
                            filter: saturate(0);

}
.python:hover {
    opacity: 1.0;
                            filter: saturate(1);

}
.nodejs {
    max-height:100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    opacity: 0.5;
                                filter: saturate(0);

}
.nodejs:hover {
    opacity: 1.0;
                                filter: saturate(1);

    
}
.mysql {
    max-height:90px;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 27px;
    opacity: 0.5;
                                    filter: saturate(0);

}
.mysql:hover {
    opacity: 1.0;
                                    filter: saturate(1);

}
.flask {
    max-height:75px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    opacity: 0.5;
                                        filter: saturate(0);

}
.flask:hover {
    opacity: 1.0;
                                        filter: saturate(1);

}